<!DOCTYPE html>
<html>
<head>
  <title>AccessibleColorPalette</title>
  <link rel="shortcut icon" type="image/png" href="about:blank" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  var canvas = document.createElement('canvas');
  canvas.width = 16;
  canvas.height = 16;
  var ctx = canvas.getContext('2d');

  <% if @hex %>
    ctx.fillStyle = "<%= @hex %>";
    ctx.fillRect(0, 0, 16, 16);
  <% else %>
    ctx.fillStyle = "#75C5D7";
    ctx.fillRect(0, 0, 3, 16);
    ctx.fillStyle = "#419BA9";
    ctx.fillRect(3, 0, 3, 16);
    ctx.fillStyle = "#C5D837";
    ctx.fillRect(6, 0, 3, 16);
    ctx.fillStyle = "#F48C22";
    ctx.fillRect(9, 0, 3, 16);
    ctx.fillStyle = "#C060A7";
    ctx.fillRect(12, 0, 4, 16);
  <% end %>
  
  var link = document.createElement('link');
  link.type = 'image/x-icon';
  link.rel = 'shortcut icon';
  link.href = canvas.toDataURL("image/x-icon");
  document.getElementsByTagName('head')[0].appendChild(link);
</script>
</body>
</html>
